@media screen and (max-width: 768px){
.header__two__container-banner {
	max-width: 1440px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background-color: ;

	overflow: hidden;

}
.container__banner {
	max-width: 1440px;
	width: 150%;
	margin: 0 auto;
	display: block;
	border-radius: 0px;
	margin-left: -180px;
}
.header__two__container-link {
	margin-top: 0px;
}
}
@media screen and (max-width: 640px){
.header__two__container-banner {
	max-width: 1440px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background-color: ;

	overflow: hidden;

}
.container__banner {
	max-width: 1440px;
	width: 150%;
	margin: 0 auto;
	display: block;
	border-radius: 0px;
	margin-left: -160px;
}
.header__two__container-link {
	margin-top: -50px;
}
.about__container-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	color: white;
	text-align:center;
	padding-top: 41px;
}
.about__container-subtitle {
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	color: white;
	max-width: 1000px;
	width: 90%;
	padding-top: 37px;
	margin: 0 auto;
}
}
@media screen and (max-width: 600px){
.header__two__container-banner {
	max-width: 1440px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background-color: ;

	overflow: hidden;

}
.container__banner {
	max-width: 1440px;
	width: 150%;
	margin: 0 auto;
	display: block;
	border-radius: 0px;
	margin-left: -150px;
}
.header__two__container-link-ul {
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.header__two__container-link-li {
	color: #24292E;
	font-weight: 400;
	font-size: 24px;
	line-height: auto;
	text-align: center;

	padding-top: 50px;
}
.header__two__container-link {
	margin-top: -50px;
}
.about__container-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	color: white;
	text-align:center;
	padding-top: 41px;
}
.about__container-subtitle {
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	color: white;
	max-width: 1000px;
	width: 85%;
	padding-top: 37px;
	margin: 0 auto;
}
}
@media screen and (max-width: 480px){
.header__two__container-banner {
	max-width: 1440px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background-color: ;

	overflow: hidden;

}
.container__banner {
	max-width: 1440px;
	width: 180%;
	margin: 0 auto;
	display: block;
	border-radius: 0px;
	margin-left: -190px;
}
.header__two__container-link {
	margin-top: -100px;
}
.header__two__container-link-li {
	color: #24292E;
	font-weight: 400;
	font-size: 20px;
	line-height: auto;
	text-align: center;
}
.about__container-title {
	font-weight: 500;
	font-size: 30px;
	line-height:28px;
	color: white;
	text-align:center;
	padding-top: 41px;
}
.about__container-subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
	color: white;
	max-width: 1000px;
	width: 85%;
	padding-top: 37px;
	margin: 0 auto;
}
}
@media screen and (max-width: 414px){
.header__two__container-banner {
	max-width: 1440px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background-color: ;

	overflow: hidden;

}
.container__banner {
	max-width: 1440px;
	width: 200%;
	margin: 0 auto;
	display: block;
	border-radius: 0px;
	margin-left: -210px;
}
.header__two__container-link {
	margin-top: -100px;
}
.header__two__container-link-li {
	color: #24292E;
	font-weight: 400;
	font-size: 20px;
	line-height: auto;
	text-align: center;
}
.about__container-title {
	font-weight: 500;
	font-size: 30px;
	line-height:26px;
	color: white;
	text-align:center;
	padding-top: 41px;
}
.about__container-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: white;
	max-width: 1000px;
	width: 85%;
	padding-top: 37px;
	margin: 0 auto;
}
}
@media screen and (max-width: 375px){
.header__two__container-banner {
	max-width: 1440px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background-color: ;

	overflow: hidden;

}
.header__two__container-circle {
	width: 130px;
	height: 130px;
	background-color: #00C2FF;
	border-radius: 100px;
	margin: 0 auto;
	transform: translate(0,60px);
}
.container__logo {
	width: 130px;
	height: 130px;
	border-radius: 100px;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}
.container__banner {
	max-width: 1440px;
	width: 200%;
	margin: 0 auto;
	display: block;
	border-radius: 0px;
	margin-left: -185px;
}
.header__two__container-link {
	margin-top: -150px;
}
.header__two__container-link-li {
	font-size: 16px;

	padding-top: 25px;
}
.about__container-title {
	font-weight: 500;
	font-size: 26px;
	line-height:26px;
	color: white;
	text-align:center;
	padding-top: 41px;
}
.about__container-subtitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 35px;
	color: white;
	max-width: 1000px;
	width: 85%;
	padding-top: 37px;
	margin: 0 auto;
}
}
@media screen and (max-width: 360px){
.container__banner {
	max-width: 1440px;
	width: 200%;
	margin: 0 auto;
	display: block;
	border-radius: 0px;
	margin-left: -180px;
}
}
@media screen and (max-width: 320px){
.header__two__container-banner {
	max-width: 1440px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background-color: ;

	overflow: hidden;

}
.header__two__container-circle {
	width: 130px;
	height: 130px;
	background-color: #00C2FF;
	border-radius: 100px;
	margin: 0 auto;
	transform: translate(0,60px);
}
.container__logo {
	width: 130px;
	height: 130px;
	border-radius: 100px;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}
.container__banner {
	max-width: 1440px;
	width: 230%;
	margin: 0 auto;
	display: block;
	border-radius: 0px;
	margin-left: -210px;
}
.header__two__container-link {
	margin-top: -130px;
}
.header__two__container-link-li {
	color: #24292E;
	font-weight: 400;
	font-size: 14px;
	line-height: auto;
	text-align: center;
}
.about__container-title {
	font-weight: 500;
	font-size: 26px;
	line-height:26px;
	color: white;
	text-align:center;
	padding-top: 41px;
}
.about__container-subtitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
	color: white;
	max-width: 1000px;
	width: 85%;
	padding-top: 37px;
	margin: 0 auto;
}
}


