.block__right-description {
	height: 650px;
}
.description__block__left-img {
	height: 100%;
	transform: translate(-70px,0px);
}
.description__block__left-img:hover {
	transition: 1s;
	transform: translate(-70px,0px) scale(1.1);
}
.description__block__link-a {
	color: red;
}
@media screen and (max-width: 1024px){
.block__right-description {
	height: 900px;
}
}