* {
	box-sizing: 0;
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	font-family: 'Rubik', sans-serif;
}
ul, li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* SELECTOR */
.selector {
	width: 100%;
	margin: 0 auto;
	background-color: ;
}
.selector__container {
	width: 500px;
	margin: 0 auto
}
.selector__container-title {
	font-weight: 700;
	font-size: 36px;
	line-height: auto;
	color: #24292E;
	text-align: center;

	margin-top: 110px;
}
.selector__container-block {
	width: 500px;
	height: 500px;
	margin-top: 56px;
}
.container__block-one {
	width: 500px;
	height: 250px;
	display: flex;
}
.container__block__one-big {
	width: 250px;
	height: 250px;
	background-color: #1A65AE;
	transition: 0.2s;
	text-align: center;

	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content:  flex-end ;
	align-items: center;
	z-index: 0;
}
.block__big-img {
	opacity: .5;
	position: absolute;
	z-index: 1;
}
.block__one__big-title {
	font-weight: 700;
	font-size: 49px;
	line-height: auto;
	color: white;
	text-align: center;

	margin-bottom: 20px;
	z-index: 2;
}
.container__block__one-big:hover {
	transition: 1s;
	transform: scale(1.1);
	box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.container__block__one-biglittle {
	width: 250px;
	height: 250px;
	background-color: red;
}
.container__block__one-biglittleone {
	display: flex;
}
.container__block__one-biglittletwo {
	display: flex;
}
.container__block__one-little {
	width: 125px;
	height: 125px;
	transition: 0.2s;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	z-index: 0;
	
}
.block__little-img {
	opacity: .5;
	position: absolute;
	z-index: 1;
}
.container__block__one-little:hover {
	transition: 1s;
	transform: scale(1.1);
	box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.orange {
	background-color: #FF9900;
}
.pink {
	background-color: #ee7071;
}
.purple {
	background-color: #8000FF;
}
.red-orange {
	background-color: #e4524f;
}
.light-green {
	background-color: #00FFA3;
}
.green {
	background-color: #b8ce36;
}
.light-pink {
	background-color: #FF007A;
}
.center-pal {
	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: 700;
	font-size: 18px;
	line-height: auto;
	color: white;
	margin-bottom: 15px;
	z-index: 2;
}

/*   INFO   */
.info {
	width: 100%;
	margin: 0 auto;
	margin-top: 250px;
	background-color: ;
}
.info__container {
	margin: 0 auto;
	width: 1000px;
	height: 200px;
	background-color: #FFDF00;
	border-radius: 10px;

	display: flex;
	align-items: center;
	justify-content: space-around;

	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.7);
}

.info__container__one-img {
	width: 80px;
	height: 80px;
}
.info__container__one-imgHelp {
	display: flex;
	justify-content: center;
}
.info__container__one-text {
	margin: 0 auto;
}
.info__container__one__text-title {
	font-weight: 500;
	font-size: 25px;
	line-height: auto;
	color: white;
	text-align: center;
}
.info__container__one__text-subtitle {
	font-weight: 500;
	font-size: 25px;
	line-height: auto;
	color: white;
	text-align: center;
}
.info__container-oneline {
	width: 2px;
	height: 150px;
	background-color: white;
}

/*  CREATORS */
.creators {
	width: 100%;
	margin: 0 auto;
}
.creators-title {
	font-weight: 500;
	font-size: 36px;
	line-height: auto;

	color: #24292E;
	margin: 0 auto;
	margin-top: 124px;
	text-align: center;
}
.creators__container {
	max-width: 1540px;
	width: 100%;

	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.creators__container-block {
	width: 400px;
	height: 550px;
	background-color: #24292E;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	margin-top: 134px;
}
.creators__container__block-circle1 {

	width: 150px;
	height: 150px;

	display: block;

	margin: 0 auto;
	padding-top: 45px;
}
.creators__container__block-circle {
	border-radius: 150px;
	width: 150px;
	height: 150px;
	display: block;
	/*background-color: #FFDF00;*/
}
.creators__container__block-title {
	font-weight: 500;
	font-size: 24px;
	line-height: auto;
	color: white;

	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}
.creators__container__block-subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: auto;
	color: #FFDF00;

	margin: 0 auto;
	text-align: center;
}
.creators__container__block-ul {
	margin: 0 auto;
	margin-top: 33px;
}
.creators__container__block-li {
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: white;
	text-align: center;
}
.creators__container__block-contacts {
	margin-left: 27px;
	margin-top: 20px;
}
.creators__container__block-contactsli {
	font-weight: 400;
	font-size: 18px;
	line-height: 35px;
	color: white;
}
.cont {
	font-weight: 500;
	font-size: 20px;
	line-height: 35px;
	color: white;
}
.creators__container__block-contactsli:not(:first-child) {
	padding-left: 30px;
}
