* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}
:root {
  --MainBlue: #AAD8F7;
  --TextColor:#353A40 ;
  --SelectorPadding: translateY(-120px);
}
li {
  text-decoration-style: none;
  list-style: none;
}
a {
  text-decoration: none;
  color:var(--TextColor);
}
body {
  font-family: "Rubik";
  color:var(--TextColor);
  overflow-x: hidden;
}
/* header */
.header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

}
.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
}
.header__wave-svg {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: -1;

  padding-top: 50px;
}
.header__wave {
  width: 100%;
}
.header__container-logo {
  width: 80px;
  height: 80px;
  margin-left: 144px;
}
.header__logo-img {
  width: 100%;
}
.header__container-menu {
  display: flex;
}
.header__menu-items {
  font-weight: 400;
  font-size: 20px;
  transition: .5s;
  user-select: none;
  cursor: pointer;
}
.menu__items-underline {
  width: 0%;
  height: 2.5px;
  background: var(--TextColor);
  border-radius: 20px;
  transition: .5s;
}
.header__menu-items:hover > .menu__items-underline{
  width: 100%;
}
.header__menu-items:nth-child(1){
  margin-left: 100%;
}
.header__menu-items:not(:first-child) {
  padding-left: 50px;
}
.signin {
  font-weight: 500;
}
/* footer */
.footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.footer__container{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}
.watter_mark {
  position: absolute;

}
.watter_mark-img {
  width: 80px;
  margin-left: 20px;
  margin-top: 0px;
}
.footer__container-menu {
  max-width: 1920px;
  width: 100%;
  max-height: 300px;
  height: 100%;

  display: flex;
}
.footer__menu-ul {
  margin-top: 50px;
  margin: 0 auto;
}
.itemsToUpper {
  font-weight: 500;
  font-size: 24px;
  user-select: none;
}
.footer__menu-items {
  font-weight: 400;
  font-size: 18px;
  transition: .5s;
}
.footer__menu-items:not(:first-child) {
  padding-top: 13px;
}
.footer__items-a  {
}
.footer__items-a > .menu__items-underline {
  background: var(--TextColor);
}
.footer__items-a:hover > .menu__items-underline{
  width: 100%;
  background: var(--TextColor);
}
@media screen and (max-width:1680px){
  /* header */

  /* footer */
}
@media screen and (max-width:1600px){
  /* header */
  .header__menu-items {
    font-size: 16px;
  }
  .header__menu-items:nth-child(1){
    margin-left: 80%;
  }
  .signin {
    font-weight: 500;
  }

  /* footer */
}
@media screen and (max-width:1440px){
  /* header */

  .header__menu-items:nth-child(1){
    margin-left: 80%;
  }
  .signin {
    font-weight: 500;
  }

  /* footer */
}
@media screen and (max-width:1366px){
  /* header */
  .signin {
    font-weight: 500;
  }

  /* footer */
  .footer__menu-ul {
    margin-top: 50px;
    margin: 0 auto;
  }
  .itemsToUpper {
    font-weight: 500;
    font-size: 20px;
  }
  .footer__menu-items {
    font-weight: 400;
    font-size: 15px;
  }
}
@media screen and (max-width:1280px){
  /* header */

  /* footer */
}
@media screen and (max-width:1200px){
  /* header */

  /* footer */
}
@media screen and (max-width:1152px){
  /* header */
  .header__menu-items:nth-child(1){
    margin-left: 50%;
  }
  .signin {
    font-weight: 500;
  }
  /* footer */
}
@media screen and (max-width:1024px){
  /* header */
  .header__menu-items:nth-child(1){
    margin-left: 35%;
  }
  .signin {
    font-weight: 500;
  }
  /* footer */
}
@media screen and (max-width:800px){
  /* header */
  .signin {
    font-weight: 500;
  }

  /* footer */
  .footer__menu-ul {
    margin-top: 0;
    margin-left: 100px;
  }
  .itemsToUpper {
    font-weight: 500;
    font-size: 16px;
  }
  .footer__menu-items {
    font-weight: 400;
    font-size: 13px;
  }
}
