:root {
  --MainBlue: #AAD8F7;
  --TextColor:#353A40 ;
  --SelectorPadding: translateY(-120px);
}
* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}
body {
  font-family: "Rubik";
  color:var(--TextColor);
  background: #fff;
  overflow-x: hidden;
}
li {
  text-decoration-style: none;
  list-style: none;
}
a {
  text-decoration: none;
  color:var(--TextColor);
}
/* header */
.header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

}
.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
}
.header__container-logo {
  width: 80px;
  height: 80px;
  margin-left: 144px;
}
.header__logo-img {
  width: 100%;
}
.header__container-menu {
  display: flex;
}
.header__menu-items {
  font-weight: 400;
  font-size: 20px;
  transition: .5s;
  user-select: none;
  cursor: pointer;
}
.menu__items-underline {
  width: 0%;
  height: 2.5px;
  background: #8fb5cf;
  transition: .5s;
}
.header__menu-items:hover > .menu__items-underline{
  width: 100%;
}
.header__menu-items:nth-child(1){
  margin-left: 100%;
}
.header__menu-items:not(:first-child) {
  padding-left: 50px;
}
.signin {
  font-weight: 500;
}
/* banner */
.banner__container {
//  position: absolute;
//  overflow: hidden;
  width: 100%;
  display: flex;

}
.banner__container-text {
  margin-left: 151px;
}
.banner__text-title {
  font-weight: 500;
  font-size: 50px;
  user-select: none;
}
.banner__text-description {
  font-weight: 400;
  font-size: 18px;
  max-width: 809px;
  width: 100%;
  margin-top: 30px;
  user-select: none;
}
.banner__text-btn {
  width: 250px;
  height: 65px;
  background: var(--MainBlue);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: 500;
  font-size: 22px;
  box-shadow: 0px 5px 20px 0px var(--MainBlue);

  user-select: none;
  cursor: pointer;

  margin-top: 66px;
  transition: .7s;
}
.banner__text-btn:hover {
  background: #bfe5ff;
  //background: green;
  transition: .7s;
}
.banner__container-logo {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  padding-bottom: 120px;
  z-index: -1;
}
.banner__logo-img {

  transform: scale(1.5);
}
/* projects */
.projects {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.wave__header {
margin-top: 150px;
}
.projects__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.projects__container-tile {
  max-width: 1400px;
  width: 100%;
//  background: red;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
}
.projects__container-tile:nth-child(2) {
  margin-top: 100px;
  display: flex;
  flex-direction: row-reverse;
}
.projects__tile-text {
  margin-top: 30px;
  margin-left: 70px;
  user-select: none;
}
.projects__tile-textSecond {
  margin-top: 30px;
  margin-right: 70px;
}
.projects__tile-img {
  width: 660px;
  height: 413px;

  overflow: hidden;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.tile__img-banner {
  width: 100%;
  border-radius: 25px;
}
.projects__tile-title {
  font-weight: 500;
  font-size: 36px;
}
.projects__tile-description {
  font-weight: 400;
  font-size: 20px;
  max-width: 400px;
  margin-top: 30px;
}
.projects__tile-btn {
  width:200px ;
  height: 55px;
  border-radius: 10px;
  background: var(--MainBlue);
  box-shadow: 0px 5px 20px 0px var(--MainBlue);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: 500;
  font-size: 20px;

  margin-top: 87px;
  transition: .7s;

  user-select: none;
  cursor: pointer;
}
.projects__tile-btn:hover {
  background: #bfe5ff;
  transition: .7s;
}
/* news */
.news {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.news__wave {
  max-width: 1920px;
  width: 100%;

}
.news__container {
  width: 100%;

}
.news__container-selector {
  max-width: 1920px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  transform: var(--SelectorPadding);
}
.news__container-banner {
  max-width: 1920px;
  width: 100%;
}
.news__container-points {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 450px;
  width: 100%;

  display: flex;
  justify-content: space-around;

  transform: var(--SelectorPadding);
}
.news__points-items {
  width: 20px;
  height: 20px;
  background: #E5E5E5;
  border-radius: 50%;
  transition: .7s;
}
.news__points-items:hover {
  transform: scale(1.35);
  transition: .7s;
}
/* footer */
.footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.footer__container{
  width: 100%;
  padding-bottom: 50px;
}
.watter_mark {
  position: absolute;

}
.watter_mark-img {
  width: 80px;
  margin-left: 20px;
  margin-top: 0px;
}
.footer__container-menu {
  max-width: 1920px;
  width: 100%;
  max-height: 300px;
  height: 100%;

  display: flex;
}
.footer__menu-ul {
  margin-top: 50px;
  margin: 0 auto;
}
.itemsToUpper {
  font-weight: 500;
  font-size: 24px;
  user-select: none;
}
.footer__menu-items {
  font-weight: 400;
  font-size: 18px;
  transition: .5s;
}
.footer__menu-items:not(:first-child) {
  padding-top: 13px;
}
.footer__items-a  {
}
.footer__items-a > .menu__items-underline {
  background: var(--TextColor);
}
.footer__items-a:hover > .menu__items-underline{
  width: 100%;
  background: var(--TextColor);
}
/*  */
/*  */
/*  */
/*  */
/* media request */
@media screen and (max-width:1680px){
  /* header */
  /* projects */

  /* news */
  /* footer */
}
@media screen and (max-width:1600px){
  /* header */
  .header__menu-items:nth-child(1){
    margin-left: 80%;
  }
  .signin {
    font-weight: 500;
  }
  /* projects */
  .projects__tile-img {
    width: 550px;
    height: 344px;
  }
  .projects__tile-title {
    font-weight: 500;
    font-size: 32px;
  }
  .projects__tile-description {
    font-weight: 400;
    font-size: 18px;
    max-width: 400px;
  }
  .projects__tile-btn {
    width:200px ;
    height: 55px;
    margin-top: 40px;
  }
  /* news */
  /* footer */
}
@media screen and (max-width:1440px){
  /* header */
  .header__menu-items {
    font-size: 16px;
  }
  .header__menu-items:nth-child(1){
    margin-left: 80%;
  }
  .signin {
    font-weight: 500;
  }
  /* projects */
  .projects__container-tile {
    max-width: 1400px;
    width: 90%;
  }
  /* news */
  /* footer */
}
@media screen and (max-width:1366px){
  /* header */

  .signin {
    font-weight: 500;
  }
  /* projects */

  .projects__tile-btn {
    width: 170px;
    height: 50px;
    font-size: 18px;
    margin-top: 50px ;
  }
  /* news */
  /* footer */
  .footer__menu-ul {
    margin-top: 50px;
    margin: 0 auto;
  }
  .itemsToUpper {
    font-weight: 500;
    font-size: 20px;
  }
  .footer__menu-items {
    font-weight: 400;
    font-size: 15px;
  }
}
@media screen and (max-width:1280px){
  /* header */

  /* projects */

  /* news */
  /* footer */
}
@media screen and (max-width:1200px){
  /* header */
  /* projects */
  /* news */
  /* footer */
}
@media screen and (max-width:1152px){
  /* header */
  .header__menu-items:nth-child(1){
    margin-left: 50%;
  }
  .signin {
    font-weight: 500;
  }
  /* banner */
  .banner__container-text {
    margin-left: 57px;
  }
  /* projects */
  .projects__container-tile,.projects__container-tile:nth-child(2) {
    max-width: 1400px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .projects__tile-text,.projects__tile-textSecond {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* news */
  /* footer */
}
@media screen and (max-width:1024px){
  /* header */
  .header__menu-items:nth-child(1){
    margin-left: 35%;
  }
  .signin {
    font-weight: 500;
  }
  /* banner */
  .banner__text-btn {
    width: 190px;
    height: 50px;

    font-size: 18px;
  }
  /* projects */

  /* news */
  /* footer */
}
@media screen and (max-width:800px){
  /* header */
  .signin {
    font-weight: 500;
  }
  /* banner */

  /* projects */

  /* news */
  /* footer */
  .footer__menu-ul {
    margin-top: 0;
    margin-left: 100px;
  }
  .itemsToUpper {
    font-weight: 500;
    font-size: 16px;
  }
  .footer__menu-items {
    font-weight: 400;
    font-size: 13px;
  }
}
