* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}
:root {
  --MainBlue: #AAD8F7;
  --TextColor:#353A40 ;
  --SelectorPadding: translateY(-120px);
}
li {
  text-decoration-style: none;
  list-style: none;
}
a {
  text-decoration: none;
  color:var(--TextColor);
}
body {
  font-family: "Rubik";
  color:var(--TextColor);
  overflow-x: hidden;
}
/*  */
.header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

}
.header__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,100px);
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
}
.header__wave-svg {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: -1;

  padding-top: 50px;
}
.header__wave {
  width: 100%;
}
.header__container-logo {
  width: 80px;
  height: 80px;
  grid-column-start: 2;
  justify-self:end;
}
.header__logo-img {
  width: 100%;
}
.header__container-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit,150px);
  grid-column-start: 10;
  grid-column-end: 17;

}
.header__menu-items {

  font-weight: 400;
  font-size: 20px;
  transition: .5s;

  user-select: none;
  cursor: pointer;
}
.menu__items-underline {
  width: 0%;
  height: 2.5px;
  background: var(--TextColor);
  border-radius: 20px;
  transition: .5s;
}
.header__menu-items:hover > .menu__items-underline{
  width: 100%;
}

.signin {
  font-weight: 500;
}
/*  */

@media screen and (max-width:1680px){
  /* header */
  .header__container-menu {
    grid-column-start: 9;
    grid-column-end: 17;
  }
  /* footer */
}
@media screen and (max-width:1600px){
  /* header */
  .header__menu-items {
    font-size: 16px;
  }
  .signin {
    font-weight: 500;
  }

  /* footer */
}
@media screen and (max-width:1440px){
  /* header */
  .header__container-menu {
    grid-column-start: 8;
    grid-column-end: 17;
  }

  .signin {
    font-weight: 500;
  }

  /* footer */
}
@media screen and (max-width:1366px){
  /* header */
  .header__container-menu {
    grid-column-start: 7;
    grid-column-end: 17;
  }
  .signin {
    font-weight: 500;
  }

  /* footer */

}
@media screen and (max-width:1280px){
  /* header */

  /* footer */
}
@media screen and (max-width:1200px){
  /* header */

  /* footer */
}
@media screen and (max-width:1152px){
  /* header */
  .header__container-menu {
    grid-column-start: 6;
    grid-column-end: 17;
  }
  .signin {
    font-weight: 500;
  }
  /* footer */
}
@media screen and (max-width:1024px){
  /* header */
  .header__container-menu {
    grid-column-start: 5;
    grid-column-end: 17;
  }
  .signin {
    font-weight: 500;
  }
  /* footer */
}
@media screen and (max-width:800px){
  /* header */
  .header__container-menu {
    grid-column-start: 3;
    grid-column-end: 17;

  }
  .header__menu-items {
    justify-self: center;
  }
  /* footer */

}
